.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #79af14, #c3cfe2);
    background-image: url('/2.jpg');
    background-size: cover;
    background-position: calc(25% - 20vw) center;;
    font-family: Arial, sans-serif;
    padding-left: 40%;
  }

  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #79af14, #c3cfe2);
    background-image: url('/tree4.jpg');
    background-size: cover;
    background-position: calc(25% - 20vw) center;;
    font-family: Arial, sans-serif;
    padding-left: 40%;
  }

  .label {
    font-size: 14px;
  }

  /* Login form styles */
  .loginForm {
    background-color: #35898e;
    padding: 40px;
    border-radius: 8px;
    align-items: center;
    background-image: url('/5.jpg');
    background-size: cover;
    display:block;
    border-width: 3px;
    border-color: #02310f;
    height:auto;
    width: 240px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
  }

  .loginForm2 {
    background-color: #35898e;
    padding: 40px;
    margin-top: 80px;
    border-radius: 8px;
    align-items: center;
    background-image: url('/7.jpg');
    
    display:block;
    border-width: 3px;
    border-color: #02310f;
    height:auto;
    width: 240px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
  }

  .dropdown {
    color: #0f30d5;
  }

  .invalidPopup {
    
    color:rgb(255, 0, 0);
    text-align: center;
    font-size:17px;
    font-weight: bold;
    padding: 4px;
    border-radius: 4px;
    position: absolute;
    bottom: 120px;
  }

  .invalidPopup1 {
    
    color:rgb(255, 0, 0);
    text-align: center;
    font-size:13px;
    font-weight: bold;
    padding: 4px;
    border-radius: 4px;
    position: absolute;
    bottom: 20px;
  }
  
  /* Input field styles */
  .inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 6px;
    border: .2cqi solid #070606;
    border-radius: 8px;
    font-size: 12px;
  }
  
  /* Submit button styles */
  .submitButton {
    align-items:center;
    width: 100%;
    padding: 10px;
    background-color: #0f7613;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Submit button hover effect */
  .submitButton:hover {
    background-color: #074d0b;
  }

  .loginForm h1 {
    font-size:xx-large;
    font-weight: bold;
    color: #333;
    text-align: center;
    
    top: -30px;
  }

  .loginForm2 h1 {
    font-size:xx-large;
    font-weight: bold;
    color: #000000;
    text-align: center;
    
    top: -15px;
  }
  
  /* Links styles */
  .link {
    
    text-align: center;
    color: #0f30d5;
    text-decoration: underline;
  }
  
  .link:hover {
    color: #d62727;
  }