/* Filter.module.css */
.filterContainer {
    width: 100%;
    border-radius: 15px;
  }
  
  .filterButton {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #86efac;
    border-radius: 10px;
    color: black;
    font-weight:bold;
    border: none;
    cursor: pointer;
    text-align: left;
  }
  
  .filterPopup {
    margin-top: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }
  
  .filterPopup label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .filterPopup input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    position: relative;
  }
  
  .filterPopup input[type="checkbox"]:checked {
    background-color: #358d55; /* Tailwind's green-300 equivalent */
  }
  
  .filterPopup input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 2px;
  }
  