@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes grow {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.25);
    }
  }
  
  .animate-grow {
    animation: grow 1.5s ease-in-out infinite;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  
  